body{
  line-height: 1.65;
  font-display: swap;
  font-family: 'Jost', sans-serif;
}
a,
button,
input {
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:focus {
    outline: none;
  }
}
h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
}
img {
  max-width: 100%;
  height: auto;
}
/* transition - start ============================= */
a,
button {
  transition: $default_transition;
}
/* transition - end ============================= */
// =================== Fixed step =========================
.step_area_fixed{
  position: fixed;
}
// Custom animation delay ==============
.animate_25ms{
  animation-delay: 25ms;
}
.animate_50ms{
  animation-delay: 50ms;
}
.animate_100ms{
  animation-delay: 100ms;
}
.animate_150ms{
  animation-delay: 150ms;
}
.animate_200ms{
  animation-delay: 200ms;
}
// Bootstrap setting start
@media (min-width: 1500px){
  .container{
    max-width: 1510px;
  }
}