body{
    color: $black;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.65;
    font-style: normal;
    font-display: swap;
    font-family: 'Jost', sans-serif;
    background-color: $white;
}
a,
button,
input {
    cursor: pointer;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    &:focus {
        outline: none;
    }
}
ul>li{
    list-style: none;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}
img {
    max-width: 100%;
    height: auto;
}
// Custom animation delay ==============
.animate_50ms{
    animation-delay: 50ms;
}
.animate_100ms{
    animation-delay: 100ms;
}
.animate_150ms{
    animation-delay: 150ms;
}
.animate_200ms{
    animation-delay: 200ms;
}
.animate_250ms{
    animation-delay: 250ms;
}
// Bootstrap setting start =========

@media (min-width: 1500px){
    .container{
        max-width: 1510px;
    }
}
