// ================ Multi-step css =================
.wrapper{
    width: 100%;
    min-height: 100vh;
    background-image: url('../images/background/bg_0.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.multisteps_form_panel{
    display: none;
}
.form_content{
    width: 80%;
    min-height: 38.75rem;
    background-image: url('../images/background/bg_1.png');
    background-color: $black;
    background-size: cover;
    background-position: center;
    border-radius: 0 0 0.625rem 0.625rem;
    margin: 0 auto;
}
.count_clock{
    img{
        max-width: 2.7rem;
        min-height: 2.7rem;
    }
}
.count_number{
    span{
        font-size: 2.5rem;
        font-weight: 600;
        background: -webkit-linear-gradient(#4186ec, #0eb7fa);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
.question_title{
    h1{
        font-size: 4.0625rem;
        font-weight: 500;
        margin: 0 auto;
        padding: 4rem 5rem 0rem 5rem;
        overflow: hidden;
    }
}
.form_items{
    bottom: -35%;
    left: 82px;
    transform: translateY(-50%);
    label{
        width: 236px;
        height: 200px;
        color: #0d1424;
        font-size: 1.75rem;
        font-weight: 600;
        border-radius: 1rem;
        padding-top: 5rem;
        cursor: pointer;
        &:not(:last-child){
            margin-right: 1.3rem;
        }
        span{
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            width: 60px;
            height: 60px;
            line-height: 60px;
            font-size: 2.1875rem;
            background-color: $black;
            font-weight: 500;
        }
        &.active{
            color: $white;
            background: linear-gradient(to top, #4285ec, #0cb9fb)!important;
            span{
                background: linear-gradient(to top, #4285ec, #0cb9fb);
            }
        }
        &.finish{
            background-color: red;
        }
        input{
            display: none;
        }
    }
}
.step_progress_bar{
    padding-top: 10rem;
    margin: 0 auto;
    z-index: 99999;
}
.step{
    &:not(:last-child){
        margin-right: 10rem;
    }
    span{
        width: 3.75rem;
        height: 3.75rem;
        line-height: 3.75rem;
        font-size: 2.07125rem;
        font-weight: 600;
        top: -40px;
        left: 11px;
        background-color: #e5e5e5;
        &.active{
            background: linear-gradient(#4285ec, #0bbafb);
        }
    }
    p{
        color: #1e1d1d;
        font-size: 1.5rem;
        font-weight: 600;
        &.active{
            background: -webkit-linear-gradient(#4285ec, #0bbafb);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    &.finish{
        span{
            background: linear-gradient(#4285ec, #0bbafb);
        }
        p{
            background: -webkit-linear-gradient(#4285ec, #0bbafb);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}
.progress_bar{
    width: 65%;
    height: 34px;
    background-color: $white;
    border: 4px solid #e5e5e5;
    margin: auto;
    border-radius: 1.5rem;
    bottom: 68px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.progress{
    width: 99%;
    height: 20px;
    font-size: 1rem;
    background-color: #e5e5e5;
    margin-top: 0.2rem;
    z-index: -1;
    margin-left: 0.3rem;
    .progress-bar{
        background: linear-gradient(#4285ec, #0cb9fb);
        margin: 0.1rem;
        z-index: 9999;
    }
}

.next_btn{
    bottom: 13%;
    right: 60px;
    transform: translateY(-50%);
    font-size: 1.375rem;
    font-weight: 700;
    padding: 0.5rem 1.5rem;
    background: linear-gradient(to right, #4285ec, #0bbafb);
    &:hover{
        color: $black!important;
        background: linear-gradient(to right, #0bbafb, #4285ec);
        transition: $default_transition;
    }
}
.prev_btn{
    bottom: 13%;
    left: 60px;
    transform: translateY(-50%);
    font-size: 1.375rem;
    font-weight: 700;
    padding: 0.5rem 1.5rem;
    background: linear-gradient(to right, #4285ec, #0bbafb);
    &:hover{
        color: $black!important;
        background: linear-gradient(to right, #0bbafb, #4285ec);
        transition: $default_transition;
    }
}


