// default colors - start
// ==================================================
$body_font: 'Jost', sans-serif;
$heading_font: 'Jost', sans-serif;

$btn_color: #ff5a2d;
$default_color: #1d1d1d;
$default_black: #1d1d1d;
// default colors - end
// ==================================================


// transition - start
// ==================================================
$default_transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
// transition - end
// ==================================================