/* ====== Table of content Start =====*/
/*
Project Name: Quizo
File        : CSS Base
Version     : 1.0.0
Author      : jthemes (https://themeforest.net/user/jthemes)
*/
/* ====== Table of content End =====*/
/* Default transition start*/
/*Default transition end*/
.wrapper {
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/background/bg_0.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.clock_area img {
  width: 8rem;
  height: 9rem;
}
.clock_area span {
  top: 55%;
  right: 46px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2rem;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}

.multisteps_form_panel {
  display: none;
}

.content_box {
  padding-left: 13rem;
  overflow: hidden;
}

.question_number span {
  color: #b4b4b4;
  font-size: 1.25rem;
  font-weight: 800;
  letter-spacing: 1px;
}

.question_title h1 {
  font-size: 3.125rem;
  font-weight: 800;
}

.form_items {
  padding-bottom: 10rem;
}
.form_items label {
  width: 90%;
  font-size: 1.5rem;
  padding: 1rem 0rem;
  padding-left: 4rem;
  margin-top: 0.625rem;
  font-weight: 600;
  border: 3px solid #dbdbdb;
  cursor: pointer;
}
.form_items label:before {
  content: "";
  top: 50%;
  left: 13px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 2.3125rem;
  height: 2.3125rem;
  position: absolute;
  background-color: #ffffff;
  border: 2px solid #dbdbdb;
  border-radius: 100%;
}
.form_items label span {
  top: 50%;
  left: 26px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 1.125rem;
}
.form_items label input {
  display: none;
}
.form_items label.active {
  background-color: #f9bc31 !important;
  border: 3px solid transparent;
}
.form_items label.active:before {
  background-color: #ffffff;
}

.step_progress {
  top: 50%;
  right: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.step_progress .step {
  width: 5rem;
  height: 5rem;
  color: #000000;
  line-height: 3.5rem;
  font-size: 1.75rem;
  border: 0.8rem solid #dbdbdb;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}
.step_progress .step:after {
  content: "";
  top: 50%;
  left: 60px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8rem;
  height: 0.4rem;
  position: absolute;
  background-color: #dbdbdb;
}
.step_progress .step.active {
  color: #f9bc31;
  border-color: #f9bc31;
}
.step_progress .step.active::after {
  background-color: #f9bc31;
}
.step_progress .step.finish {
  color: #f9bc31;
  border-color: #f9bc31;
}
.step_progress .step.finish::after {
  background-color: #f9bc31;
}

.left-side-img {
  display: inline-block;
}
.left-side-img img {
  width: 25rem;
  height: 30rem;
  bottom: 200px;
  left: 15%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
}

.f_btn {
  font-size: 1.125rem;
  padding: 1rem 2.5rem;
  outline: none;
  border: none;
  font-weight: 800;
}

.prev_btn {
  bottom: 5%;
  left: 33%;
  background-color: #dbdbdb;
}
.prev_btn:hover {
  color: #ffffff;
  background-color: #f9bc31;
}

.next_btn {
  bottom: 5%;
  right: 20%;
  background-color: #f9bc31;
}
.next_btn:hover {
  color: #ffffff;
  background-color: #dbdbdb;
}

body {
  font-weight: 400;
  line-height: 1.65;
  font-style: normal;
  font-display: swap;
  font-family: "Sen", sans-serif;
}

a,
button,
input {
  cursor: pointer;
  text-decoration: none;
}
a:hover,
button:hover,
input:hover {
  text-decoration: none;
}
a:focus,
button:focus,
input:focus {
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

img {
  height: auto;
  max-width: 100%;
}

/* transition - start
================================================== */
a,
button {
  -webkit-transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  transition: 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

/* transition - end
================================================== */
.animate_25ms {
  -webkit-animation-delay: 25ms;
          animation-delay: 25ms;
}

.animate_50ms {
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
}

.animate_100ms {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.animate_150ms {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}

.animate_200ms {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

@media (min-width: 1500px) {
  .container {
    max-width: 1510px;
  }
}
/* ==================================================
*   02 - media screen and (max-width: 1200px)
*	03 - media screen and (max-width: 992px)
*	04 - media screen and (max-width: 768px)
*	05 - media screen and (max-width: 576px)
*	06 - media screen and (max-width: 480px)
*	07 - media screen and (max-width: 360px)
*	08 - media screen and (max-width: 320px)
*   XX-Large devices (larger desktops)
*   No media query since the xxl breakpoint has no upper bound on its width
================================================== */
@media screen and (max-width: 1199.98px) {
  .question_title h1 {
    font-size: 2.5rem;
  }

  .form_items label {
    width: 100%;
  }

  .f_btn {
    font-size: 0.8rem;
    padding: 1rem 2rem;
  }

  .prev_btn {
    left: 35%;
  }

  .next_btn {
    right: 15%;
  }
}
@media screen and (max-width: 991.98px) {
  .content_box {
    padding-left: 6rem;
  }

  .question_title h1 {
    font-size: 2rem;
  }

  .left-side-img img {
    width: 20rem;
    height: 25rem;
  }

  .prev_btn {
    left: 30%;
  }

  .next_btn {
    right: 20%;
  }
}
@media screen and (max-width: 767.98px) {
  .logo_area {
    text-align: center;
    display: block;
    margin-left: 0rem !important;
    margin-bottom: 2rem;
  }

  .content_box {
    padding-left: 0rem;
  }

  .question_number {
    text-align: center;
  }

  .question_title h1 {
    text-align: center;
    padding: 0rem 1rem;
  }

  .step_progress {
    display: none;
  }

  .left-side-img img {
    display: none;
  }

  .prev_btn {
    left: 15%;
  }

  .next_btn {
    right: 15%;
  }
}
@media screen and (max-width: 575.98px) {
  .question_title h1 {
    font-size: 1.5rem;
  }

  .form_items {
    margin: 0rem 3rem;
  }
  .form_items label {
    font-size: 1rem;
  }

  .f_btn {
    font-size: 0.6rem;
    padding: 0.8rem;
  }

  .prev_btn {
    left: 13%;
  }

  .next_btn {
    right: 13%;
  }
}